In [4]:
import requests
import time
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page to scrape
url = "https://api.scrapingdog.com/scrape?api_key=657d045fa8510675fba81d9e&url=https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue&dynamic=false"

In [5]:
# Sending a request to the website
response = requests.get(url)
print(response.status_code)

200

In [6]:
# Parse the HTML snippet
soup = BeautifulSoup(response.text, 'html.parser')

In [7]:
tables = soup.find_all('table', class_='historical_data_table')
quarterly_revenue_table = None
for table in tables:
    if "Quarterly Revenue" in table.text:
        quarterly_revenue_table = table
        break

# Check if the table was found
if not quarterly_revenue_table:
    print("Quarterly Revenue table not found")
else:
    # Initialize a list to store the quarterly revenue data
    quarterly_revenue_data = []

    # Iterate over each row in the table body
    for row in quarterly_revenue_table.tbody.find_all('tr'):
        # Extract the date and revenue from each cell
        date_td, revenue_td = row.find_all('td')
        date = date_td.text.strip()
        revenue = revenue_td.text.strip()

        # Append the extracted data to the list
        quarterly_revenue_data.append({'date': date, 'revenue': revenue})

    # Display the extracted data
    for data in quarterly_revenue_data:
        print(f"Date: {data['date']}, Revenue: {data['revenue']}")

Date: 2023-09-30, Revenue: $23,350
Date: 2023-06-30, Revenue: $24,927
Date: 2023-03-31, Revenue: $23,329
Date: 2022-12-31, Revenue: $24,318
Date: 2022-09-30, Revenue: $21,454
Date: 2022-06-30, Revenue: $16,934
Date: 2022-03-31, Revenue: $18,756
Date: 2021-12-31, Revenue: $17,719
Date: 2021-09-30, Revenue: $13,757
Date: 2021-06-30, Revenue: $11,958
Date: 2021-03-31, Revenue: $10,389
Date: 2020-12-31, Revenue: $10,744
Date: 2020-09-30, Revenue: $8,771
Date: 2020-06-30, Revenue: $6,036
Date: 2020-03-31, Revenue: $5,985
Date: 2019-12-31, Revenue: $7,384
Date: 2019-09-30, Revenue: $6,303
Date: 2019-06-30, Revenue: $6,350
Date: 2019-03-31, Revenue: $4,541
Date: 2018-12-31, Revenue: $7,226
Date: 2018-09-30, Revenue: $6,824
Date: 2018-06-30, Revenue: $4,002
Date: 2018-03-31, Revenue: $3,409
Date: 2017-12-31, Revenue: $3,288
Date: 2017-09-30, Revenue: $2,985
Date: 2017-06-30, Revenue: $2,790
Date: 2017-03-31, Revenue: $2,696
Date: 2016-12-31, Revenue: $2,285
Date: 2016-09-30, Revenue: $2,298
Date: 2016-06-30, Revenue: $1,270
Date: 2016-03-31, Revenue: $1,147
Date: 2015-12-31, Revenue: $1,214
Date: 2015-09-30, Revenue: $937
Date: 2015-06-30, Revenue: $955
Date: 2015-03-31, Revenue: $940
Date: 2014-12-31, Revenue: $957
Date: 2014-09-30, Revenue: $852
Date: 2014-06-30, Revenue: $769
Date: 2014-03-31, Revenue: $621
Date: 2013-12-31, Revenue: $615
Date: 2013-09-30, Revenue: $431
Date: 2013-06-30, Revenue: $405
Date: 2013-03-31, Revenue: $562
Date: 2012-12-31, Revenue: $306
Date: 2012-09-30, Revenue: $50
Date: 2012-06-30, Revenue: $27
Date: 2012-03-31, Revenue: $30
Date: 2011-12-31, Revenue: $39
Date: 2011-09-30, Revenue: $58
Date: 2011-06-30, Revenue: $58
Date: 2011-03-31, Revenue: $49
Date: 2010-12-31, Revenue: $36
Date: 2010-09-30, Revenue: $31
Date: 2010-06-30, Revenue: $28
Date: 2010-03-31, Revenue: $21
Date: 2009-12-31, Revenue:
Date: 2009-09-30, Revenue: $46
Date: 2009-06-30, Revenue: $27

In [10]:
# Create a DataFrame
df = pd.DataFrame(quarterly_revenue_data)

# Display the DataFrame
print(df)

# If you want to save this DataFrame to a CSV file
df.to_csv('quarterly_revenue_data.csv', index=False)

          date  revenue
0   2023-09-30  $23,350
1   2023-06-30  $24,927
2   2023-03-31  $23,329
3   2022-12-31  $24,318
4   2022-09-30  $21,454
5   2022-06-30  $16,934
6   2022-03-31  $18,756
7   2021-12-31  $17,719
8   2021-09-30  $13,757
9   2021-06-30  $11,958
10  2021-03-31  $10,389
11  2020-12-31  $10,744
12  2020-09-30   $8,771
13  2020-06-30   $6,036
14  2020-03-31   $5,985
15  2019-12-31   $7,384
16  2019-09-30   $6,303
17  2019-06-30   $6,350
18  2019-03-31   $4,541
19  2018-12-31   $7,226
20  2018-09-30   $6,824
21  2018-06-30   $4,002
22  2018-03-31   $3,409
23  2017-12-31   $3,288
24  2017-09-30   $2,985
25  2017-06-30   $2,790
26  2017-03-31   $2,696
27  2016-12-31   $2,285
28  2016-09-30   $2,298
29  2016-06-30   $1,270
30  2016-03-31   $1,147
31  2015-12-31   $1,214
32  2015-09-30     $937
33  2015-06-30     $955
34  2015-03-31     $940
35  2014-12-31     $957
36  2014-09-30     $852
37  2014-06-30     $769
38  2014-03-31     $621
39  2013-12-31     $615
40  2013-09-30     $431
41  2013-06-30     $405
42  2013-03-31     $562
43  2012-12-31     $306
44  2012-09-30      $50
45  2012-06-30      $27
46  2012-03-31      $30
47  2011-12-31      $39
48  2011-09-30      $58
49  2011-06-30      $58
50  2011-03-31      $49
51  2010-12-31      $36
52  2010-09-30      $31
53  2010-06-30      $28
54  2010-03-31      $21
55  2009-12-31
56  2009-09-30      $46
57  2009-06-30      $27

In [14]:
df['revenue'] = df['revenue'].str.replace('$', '').str.replace(',', '')
print(df['revenue'])

0     23350
1     24927
2     23329
3     24318
4     21454
5     16934
6     18756
7     17719
8     13757
9     11958
10    10389
11    10744
12     8771
13     6036
14     5985
15     7384
16     6303
17     6350
18     4541
19     7226
20     6824
21     4002
22     3409
23     3288
24     2985
25     2790
26     2696
27     2285
28     2298
29     1270
30     1147
31     1214
32      937
33      955
34      940
35      957
36      852
37      769
38      621
39      615
40      431
41      405
42      562
43      306
44       50
45       27
46       30
47       39
48       58
49       58
50       49
51       36
52       31
53       28
54       21
55
56       46
57       27
Name: revenue, dtype: object

/tmp/ipykernel_534/2729473210.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['revenue'] = df['revenue'].str.replace('$', '').str.replace(',', '')

In [15]:
import sqlite3

conn = sqlite3.connect('my_database.db')

In [19]:
# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Drop the table if it already exists
cursor.execute("DROP TABLE IF EXISTS tesla_revenue")

# Create table with the same structure as your DataFrame
create_table_query = """
CREATE TABLE tesla_revenue (
    Column1 INTEGER,
    Column2 INTEGER,
);
"""
cursor.execute(create_table_query)

OperationalError: near ")": syntax error